@font-face {
  font-family: 'TTForts';
  src: url('./Media/Fonts/TTFors.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

.font-tt-forts {
  font-family: 'TTForts', sans-serif;
}

@font-face {
  font-family: '29L';
  src: url('./Media/Fonts/29LTRi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-29 {
  font-family: '29L', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background-color: #9ca3af;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}